.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/4457896/pexels-photo-4457896.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

.header {
  background-color: rgba(167, 56, 115, 0.7);
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.background-div {
  height: 85vh;
  width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.message {
  display: flex;
  margin-top: 10px;
}

.message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.content {
  display: inline-block;
  align-items: flex-end;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.username {
  display: block;
  color: rgb(57, 57, 57);
  font-size: 16px;
  padding-bottom: 4px;
}

.content>.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(130, 100, 237);
  color: white;
  display: inline-block;
}

.currentMember>.content .text {
  background-color: rgb(244, 81, 168);
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 0;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid rgb(167, 56, 115);
  flex-grow: 1;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(167, 56, 115);
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}